ul.grid {
    list-style: none;
    width: 460px;
    height: 460px;
    position: relative;
    border: 1px solid;
    padding: 0;
    margin: 20px;
}
ul.grid li {
    width: 90px;
    height: 90px;
    border: 1px solid #000;
    float: left;
    padding: 0;
    margin: 0;
    opacity: 0.5;
    cursor: pointer;
    background-color: #000;
    color: #fff;
}
ul.grid li:not(.active):hover {
    opacity: 0.7;
}
ul.grid li.active {
    opacity: 1;
}
ul.grid li.available {
    border-color: #fff;
}
ul.grid.red li.available {
    border-color: #f00;
}
ul.grid.green li.available {
    border-color: #0f0;
}
ul.grid.blue li.available {
    border-color: #00f;
}
ul.grid.yellow li.available {
    border-color: #ff0;
}
ul.grid li.red {
    background-color: #f00;
    border-color: #f00;
}
ul.grid li.green {
    background-color: #0f0;
    border-color: #0f0;
}
ul.grid li.blue {
    background-color: #00f;
    border-color: #00f;
}
ul.grid li.yellow {
    background-color: #ff0;
    border-color: #ff0;
}
ul.grid li.red.blue,
ul.grid li.red.yellow,
ul.grid li.green.red,
ul.grid li.green.blue,
ul.grid li.blue.green,
ul.grid li.blue.yellow,
ul.grid li.yellow.blue,
ul.grid li.yellow.green {
}
ul.grid li.red.green.blue,
ul.grid li.red.green.yellow,
ul.grid li.red.blue.yellow {
}
ul.grid li.red.green.blue.yellow {
}